<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://localhost:8080/task" method="post">
        <textarea name="content" id="" placeholder="add a new task"></textarea>
        <button type="submit">submit</button>
    </form>
</body>
</html>