<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is ejs Document</h1>
    <h1>sum of 3+2</h1>
    <h2><%= 3+2 %></h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo, impedit? Corporis 
        nobis, saepe praesentium rem dicta ipsam nulla inventore molestiae magnam vero numquam 
        illum, quas laudantium dolor sunt quam official
    </p>
    <button>Submit</button>
</body>
</html>